@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/*@import "tw-animate-css";*/
/*@custom-variant dark (&:is(.dark *));*/

#root {
    font-family: "Montserrat", sans-serif !important;
}

@theme {
    --font-roboto: "Montserrat", sans-serif;
}

.background-color {
    @apply bg-gray-50 dark:bg-gray-950;
}
.second-background-color {
    @apply bg-gray-200/50 dark:bg-gray-900
}
.hover-second-background-color {
    @apply hover:bg-gray-200 hover:dark:bg-gray-800/80
}

.no-scroll-bar {
    scrollbar-width: none;  /* Для Firefox */
    -ms-overflow-style: none;  /* Для IE/Edge */
}

.ant-btn, .ant-input{
    box-shadow: none !important;
}

.ant-upload {
    width: 100% !important;
}